/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #502900;
  color: #fff; }

.align-center {
  align-content: center;
  text-align: center; }

.loginheader_container__icon:hover {
  cursor: pointer; }
  .loginheader_container__icon:hover:active {
    transition: all .3s;
    transform: translateY(2px); }

.bodycontent {
  display: grid;
  grid-template-rows: 16vh 5vh auto 7vh;
  min-height: 100%;
  background-image: linear-gradient(to top, #502900, #fffefb);
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 37.5em) {
    .bodycontent {
      grid-template-rows: 16vh 1vh auto 4vh; } }

.container {
  grid-row: 3/ span 1;
  grid-column: 1/-1;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 0; } }

.content {
  align-content: center;
  justify-content: center;
  height: fit-content;
  height: -webkit-fill-available;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .content {
      padding: 0; } }

.sidebar {
  display: block;
  min-width: 20%; }

#loaderLeft {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11500;
  background-image: linear-gradient(to right, #faf7f2, #fffefb);
  opacity: 1;
  width: 50%;
  transition: all 0.4s cubic-bezier(0.36, 1.15, 0.78, 0.9); }

#loaderRight {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11500;
  background-image: linear-gradient(to left, #faf7f2, #fffefb);
  opacity: 1;
  width: 50%;
  transition: all 0.4s cubic-bezier(0.36, 1.15, 0.78, 0.9); }

.page_content {
  padding: 2rem;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .page_content {
      padding: 1rem; } }
  .page_content h1 {
    color: #1d1000;
    font-size: 2.5rem;
    font-weight: 300;
    padding-left: 2rem;
    padding-bottom: 2rem;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px rgba(250, 77, 14, 0.4); }
    @media only screen and (max-width: 37.5em) {
      .page_content h1 {
        padding-bottom: 0.1rem; } }
  .page_content h2 {
    color: #502900;
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: 1rem;
    padding-left: 2rem;
    letter-spacing: 0.2rem; }
    @media only screen and (max-width: 37.5em) {
      .page_content h2 {
        padding: 0.1rem; } }

.detail {
  display: flex;
  flex-direction: column; }
  .detail_poligon {
    font-size: 1.6rem; }

.btn_back {
  align-content: center;
  text-align: right;
  align-items: right;
  color: #fa4d0e;
  justify-content: right;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 3rem;
  background-color: rgba(255, 254, 251, 0);
  border-radius: 60%;
  font-size: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .btn_back {
      display: inline-block; } }

.img_underconstruction {
  height: 80%;
  max-width: 80%;
  margin-top: 7rem; }

.flex_row {
  display: flex; }

.flex_column {
  display: flex;
  flex-direction: column; }

.ident1 {
  margin-left: 1rem; }

.ident2 {
  margin-left: 2rem; }

.ident3 {
  margin-left: 3rem; }

.clRedFont {
  color: red !important; }

.curPointer {
  cursor: pointer !important; }

a {
  box-shadow: 2px 3px 4px rgba(250, 77, 14, 0.4); }

a,
a:visited,
a:active {
  background-color: rgba(255, 254, 251, 0);
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 10px #d12a00;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1.4rem; }
  a__medium,
  a:visited__medium,
  a:active__medium {
    font-size: 1.8rem;
    font-weight: 300; }

a:hover {
  transform: translateY(-0.2rem);
  box-shadow: 5px 7px 10px rgba(250, 77, 14, 0.4); }

a:active {
  transform: translateY(0.2rem);
  box-shadow: 2px 3px 4px rgba(250, 77, 14, 0.4); }

.page_content_login {
  padding: 5rem; }

.form-check-label {
  background-color: rgba(255, 254, 251, 0);
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 10px #d12a00;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1.4rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #faf7f2, #1d1000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-medium {
      margin-top: 1rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-big {
      margin-top: 6rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-huge {
      margin-top: 8rem !important; } }

.text-right {
  text-align: right; }

.text-danger {
  color: red;
  font-size: 1.5rem; }

.text-succcess {
  color: #074102;
  font-size: 1.5rem; }

.invalid-feedback {
  font-size: 1.2rem;
  color: red; }

.toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0; }

.toast:not(:last-child) {
  margin-bottom: .75rem; }

.toast.showing {
  opacity: 1; }

.toast.show {
  display: block;
  opacity: 1; }

.toast.hide {
  display: none; }

.toast-header {
  display: flex;
  align-items: center;
  padding: .25rem .75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.toast-body {
  padding: .75rem; }

.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #fff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-weight: bold;
  color: #fff;
  opacity: 0.8; }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4; }

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999; }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 .6rem;
  padding: .6rem .6rem .6rem 50px;
  width: 300px;
  border-radius: .25rem;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  color: #fff;
  opacity: 0.9; }

#toast-container > div:hover {
  opacity: 1;
  cursor: pointer; }

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
  box-shadow: 0 0.66875rem 2.3875rem rgba(22, 170, 255, 0.03), 0 1.1375rem 1.60625rem rgba(22, 170, 255, 0.03), 0 0.45rem 0.73125rem rgba(22, 170, 255, 0.05), 0 0.325rem 0.3875rem rgba(22, 170, 255, 0.03); }

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
  box-shadow: 0 0.66875rem 2.3875rem rgba(217, 37, 80, 0.03), 0 1.1375rem 1.60625rem rgba(217, 37, 80, 0.03), 0 0.45rem 0.73125rem rgba(217, 37, 80, 0.05), 0 0.325rem 0.3875rem rgba(217, 37, 80, 0.03); }

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
  box-shadow: 0 0.66875rem 2.3875rem rgba(58, 196, 125, 0.03), 0 1.1375rem 1.60625rem rgba(58, 196, 125, 0.03), 0 0.45rem 0.73125rem rgba(58, 196, 125, 0.05), 0 0.325rem 0.3875rem rgba(58, 196, 125, 0.03); }

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
  box-shadow: 0 0.66875rem 2.3875rem rgba(247, 185, 36, 0.03), 0 1.1375rem 1.60625rem rgba(247, 185, 36, 0.03), 0 0.45rem 0.73125rem rgba(247, 185, 36, 0.05), 0 0.325rem 0.3875rem rgba(247, 185, 36, 0.03);
  color: #212529; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto; }

.toast {
  background-color: #343a40; }

.toast-success {
  background-color: #3ac47d; }

.toast-error {
  background-color: #d92550; }

.toast-info {
  background-color: #16aaff; }

.toast-warning {
  background-color: #f7b924; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: 0.4; }

.modal-open {
  overflow: hidden; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none; }

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px); }

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none; } }

.modal.show .modal-dialog {
  transform: none; }

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (.5rem * 2)); }

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: ""; }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0; }

.modal-backdrop,
.blockOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000; }

.modal-backdrop.fade,
.fade.blockOverlay {
  opacity: 0; }

.modal-backdrop.show,
.show.blockOverlay {
  opacity: .5; }

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto; }

.modal-title {
  margin-bottom: 0;
  line-height: 1.5; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem; }

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem; }

.modal-footer > :not(:first-child) {
  margin-left: .25rem; }

.modal-footer > :not(:last-child) {
  margin-right: .25rem; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2)); }
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2)); }
  .modal-sm {
    max-width: 300px; } }

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px; } }

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px; } }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  opacity: 0; }

.tooltip.show {
  opacity: .9; }

.tooltip .arrow {
  position: absolute;
  display: block;
  width: .8rem;
  height: .4rem; }

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem;
  background-image: linear-gradient(to top left, rgba(80, 41, 0, 0.9), rgba(250, 247, 242, 0.95));
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #502900;
  color: #fff; }
  .btn--green::after {
    background-color: #502900; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #502900;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #502900;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #502900;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form-label {
  font-size: 1.4rem;
  color: #1d1000; }

.real_input, .real_input:focus {
  color: #1d1000;
  border-style: solid;
  border-color: #fa4d0e;
  background-color: rgba(255, 132, 0, 0);
  font-size: 1.7rem;
  padding: 0.3rem;
  border-radius: 3px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-top: 2rem; }

.real_input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: .8;
  /* Firefox */ }

.real_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 0, 0, 0.8); }

.real_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 0, 0, 0.8); }

.form-group {
  margin-top: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form-group {
      margin-top: 1rem; } }
  .form-group .real_input, .form-group .real_input:focus {
    margin-top: 0rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ff8400, #fa4d0e); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #faf7f2, #1d1000); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #3a638a, #171152); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ff8400, #fa4d0e), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #faf7f2, #1d1000), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #3a638a, #171152), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 132, 0, 0.85), rgba(250, 77, 14, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(250, 247, 242, 0.85), rgba(29, 16, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(58, 99, 138, 0.85), rgba(23, 17, 82, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #502900;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #faf7f2, #1d1000);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #502900; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #fa4d0e; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #502900;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #502900;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #502900; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #1d1000;
  padding: 1rem 0;
  color: #f7f7f7;
  grid-column: 1/-1;
  grid-row: 4/span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto  auto;
  justify-items: center;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 1rem 0;
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 0;
      font-size: 1rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #502900;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__content {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        height: 3px; } }
  .footer__copyright {
    font-weight: 100;
    letter-spacing: 0.1rem;
    border-top: 1px solid #fa4d0e;
    padding-top: .4rem;
    width: 80%;
    grid-row: 2/3;
    grid-column: 1/-1; }

.header {
  grid-column: 1/-1;
  grid-row: 1/ span 1;
  background-image: linear-gradient(to left top, rgba(255, 132, 0, 0.45), rgba(255, 254, 251, 0.95));
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 15% auto 10%; }
  .header__logo-box {
    grid-row: 1/-1;
    grid-column: 1/-1;
    padding-left: 3rem;
    padding-top: 3rem; }
  .header__logo {
    height: 6vw;
    bottom: 0;
    filter: opacity(10%); }
  .header__title {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    align-items: center;
    padding-left: 2rem;
    transform: translateY(-2rem); }
    .header__title h1 {
      color: #502900;
      font-size: 4rem;
      font-weight: 400;
      line-height: 4rem;
      letter-spacing: 1.3rem;
      text-shadow: 1px 2px 4px rgba(250, 77, 14, 0.9); }
      @media only screen and (max-width: 37.5em) {
        .header__title h1 {
          margin: -1.2rem;
          font-size: 2.5rem;
          line-height: 3rem;
          padding-left: 3rem; } }
  .header__userlogin {
    grid-row: 1/span 1;
    grid-column: 3/-1;
    align-content: center;
    text-align: right;
    align-items: right;
    color: #fa4d0e;
    justify-content: right;
    padding-top: 2rem;
    padding-right: 5rem;
    font-size: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .header__userlogin {
        padding-right: 3rem;
        font-size: 2rem; } }
  .header__user {
    grid-row: 3/span 1;
    grid-column: 2/-1;
    align-content: right;
    text-align: right;
    align-items: right;
    color: #fa4d0e;
    justify-content: right;
    padding-top: 0rem;
    padding-right: 5rem;
    font-size: 1.3rem; }
    @media only screen and (max-width: 37.5em) {
      .header__user {
        padding-right: 3rem;
        font-size: 2rem; } }
    .header__user h2 {
      color: #502900;
      font-size: 1.3rem;
      font-weight: 300;
      padding-bottom: 1rem;
      padding-left: 2rem;
      letter-spacing: 0.2rem; }
      @media only screen and (max-width: 37.5em) {
        .header__user h2 {
          padding: 0.1rem; } }
  .header .loginheader_container {
    display: flex;
    justify-content: right;
    font-size: 3rem;
    vertical-align: middle; }
  .header .icon_before {
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px; }
  .header a,
  .header a:visited,
  .header a:active {
    text-decoration: none;
    color: #d12a00;
    font-size: 1.8rem;
    padding: 0.1rem 0.7rem;
    border-radius: 5px;
    border-style: none;
    margin-top: 0.2rem;
    font-weight: 300;
    transition: all 0.2s; }

.content {
  position: relative; }

.smart-element, .smart-label, .smart-track {
  background: rgba(255, 254, 251, 0.5); }

smart-grid-cell {
  background: none;
  font-size: 1.2rem; }
  @media only screen and (max-width: 56.25em) {
    smart-grid-cell {
      font-size: 1.3rem; } }

smart-grid-column {
  background: none;
  color: #1d1000;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    smart-grid-column {
      font-size: 1.4rem; } }

smart-scroll-bar .smart-track {
  background: rgba(255, 254, 251, 0.5); }

smart-grid {
  width: 100%;
  height: 500px; }

smart-scroll-bar .smart-thumb {
  background: rgba(255, 254, 251, 0.5);
  border-color: #1d1000; }
  smart-scroll-bar .smart-thumb:hover {
    background: rgba(29, 16, 0, 0.5); }
  smart-scroll-bar .smart-thumb:active {
    background: rgba(29, 16, 0, 0.5);
    border-color: #fa4d0e; }

.btn_close {
  align-content: center;
  text-align: right;
  align-items: right;
  color: #fa4d0e;
  justify-content: right;
  padding-top: 1rem;
  padding-right: 5rem;
  font-size: 3rem;
  background-color: rgba(255, 254, 251, 0);
  border-radius: 60%;
  cursor: pointer;
  transform: translateY(-2rem); }
  @media only screen and (max-width: 37.5em) {
    .btn_close {
      transform: none; } }

.smart-thumb {
  background-color: rgba(29, 16, 0, 0.5); }

.hidden {
  visibility: hidden;
  height: 0;
  width: 0; }

.page_content_detail {
  align-content: left;
  text-align: left;
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 2rem;
  padding-left: 3rem;
  background-color: radial-gradient(rgba(255, 254, 251, 0.6), rgba(255, 254, 251, 0.2)); }
  @media only screen and (max-width: 37.5em) {
    .page_content_detail {
      padding: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  .page_content_detail label {
    color: #502900;
    padding: 0.3rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    min-width: 100px;
    display: inline-block;
    font-weight: 300; }
  .page_content_detail input {
    color: #502900;
    border-style: none;
    background-color: rgba(255, 254, 251, 0);
    font-size: 1.7rem;
    padding: 0.3rem;
    border-radius: 3px;
    font-weight: 300;
    font-family: "Lato", sans-serif; }
  .page_content_detail .row {
    margin: 0;
    align-self: flex-start;
    width: 100%; }
  .page_content_detail h2 {
    padding-top: 2rem;
    padding-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .page_content_detail h2 {
        padding: 0.1rem; } }
  .page_content_detail a__medium {
    font-size: 2rem;
    font-weight: 300; }

.gridcontainer {
  min-width: 100%;
  background-color: lightcoral; }

#jqxGrid .jqx-grid-column-header {
  font-weight: 300;
  font-size: 1.4rem;
  background-color: rgba(255, 254, 251, 0.5);
  font-family: "Lato", sans-serif; }

#jqxGrid .jqx-grid-cell {
  color: #1d1000;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Lato", sans-serif; }

.specialtext {
  color: orange !important; }

.description {
  color: whitesmoke !important; }

.sellformat {
  color: red !important; }

.buyformat {
  color: greenyellow !important; }

.booleanvalue {
  color: mistyrose !important;
  background-color: aquamarine;
  pointer-events: none;
  visibility: hidden; }

.quoteonthewire input {
  background-color: whitesmoke;
  color: gray !important; }

.quoterequested input {
  background-color: #e7563c;
  color: white !important; }

.jqx-grid-cell {
  border-color: black !important;
  border-right: none;
  border-bottom-width: 2px; }

.jqx-grid-cell .jqx-grid-cell-left-align {
  margin-top: .5rem !important; }

.jqx-grid-statusbar {
  background-color: #161616 !important; }

.jqx-grid-statusbar span {
  color: #94c6ff;
  font-size: 12px; }

.page_content_master {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; }
  .page_content_master_header {
    grid-row: 1/span 1; }
  .page_content_master_content {
    grid-row: 2/span 1; }
  .page_content_master .row {
    margin: 0;
    align-self: flex-start;
    width: 100%; }
  .page_content_master h2 {
    padding-top: 2rem;
    padding-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .page_content_master h2 {
        padding: 0.1rem; } }
  .page_content_master a__medium {
    font-size: 2rem;
    font-weight: 300; }

input {
  color: #502900;
  border-style: none;
  background-color: rgba(255, 254, 251, 0);
  font-size: 1.7rem;
  padding: 0.3rem;
  border-radius: 3px;
  font-weight: 300;
  font-family: "Lato", sans-serif; }

.navigation {
  border-bottom: 5px solid #fa4d0e; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      border-bottom: 2px solid #fa4d0e; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fa4d0e;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    left: 3rem;
    border-radius: 50%;
    z-index: 100003;
    box-shadow: 0 1rem 3rem rgba(250, 77, 14, 0.1);
    text-align: center;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 2rem;
        left: 1rem;
        height: 5rem;
        width: 5rem;
        display: block; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    left: 3.5rem;
    background-image: radial-gradient(#1d1000, #fa4d0e);
    z-index: 100000;
    transition: transform 0.8s cubic-bezier(0.36, 1.15, 0.78, 0.9);
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 2.5rem;
        left: 1.5rem;
        height: 4rem;
        width: 4rem;
        display: block; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100001;
    display: none;
    opacity: 0;
    width: 0;
    /*  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55); */ }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
    .navigation__item a,
    .navigation__item a:visited,
    .navigation__item a:active {
      text-decoration: none;
      color: #ff8400;
      font-size: 1.6rem;
      padding: 0.1rem 0.7rem;
      border-radius: 5px;
      border-style: none;
      margin-top: 0.2rem;
      font-weight: 300;
      box-shadow: none;
      transition: all 0.2s;
      color: #faf7f2; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
    padding: 1rem 2rem;
    color: #fffefb;
    text-decoration: none;
    background-size: 225%; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #502900; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 2.4rem; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .7rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.navigation {
  grid-row: 2/span 1;
  grid-column: 1/-1;
  height: auto;
  display: grid;
  background-image: linear-gradient(to top, #502900, rgba(80, 41, 0, 0.4));
  padding-top: .5rem;
  padding-bottom: .5rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      height: 2px;
      align-self: end; } }

.navigation__content {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .navigation__content {
      display: none; } }
