/////////////////

#jqxGrid .jqx-grid-column-header,
#documentdetails .jqx-grid-column-header,
#masterlist .jqx-grid-column-header {
 //   font-weight: 300;
 //   font-size: 1.2rem;
    background-color: rgb(197, 197, 197);
  //  font-family: "Lato", sans-serif;
}


.compet_status{
    text-decoration: solid;
    padding: 3px 1rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    position: absolute;
   
    color: #050000;
    // background-image: linear-gradient(
    //     to  top left,
    //     rgba($color-primary, 0.9),
    //     rgba($color-primary-light, 0.95));

    //Change for the <button> element
    border: none;
    &.Open{
        color: rgb(2, 102, 2);
       
    
    }
    &.Progress{
        color: rgb(189, 0, 0);
       
    
    }
    &.Finished{
        color: rgb(0, 0, 209);
       
    
    }

} 

.cdetailbtn{
    padding: 2px;
    text-align: center; 
    border-color: black;
    border-width: 1px;;
    margin: 2px; 
    height:100%;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: .2rem;
    background-color: rgba($color-primary-light, 0.95);
}

.clFirstDay{
    background-color: rgb(252, 236, 221) !important;
    &.jqx-grid-cell-selected{
        background-color: rgba(252, 236, 221, 0.378) !important;
    }
}
.clSecondDay{
    background-color: rgb(247, 213, 182) !important;
    &.jqx-grid-cell-selected{
        background-color:  rgba(247, 214, 182, 0.344) !important;
    }
}
.clShootOff{
    background-color: rgb(191, 190, 189) !important;
    &.jqx-grid-cell-selected{
        background-color:rgba(191, 190, 189, 0.378) !important;
    }
}
.clTotal{
    background-color:  rgb(255, 188, 157)e !important;

   
}
.welcome-text {
    text-shadow: rgb(108, 29, 0) -1px 1px !important;
  }
  #header .header-top{
    flex-direction: column !important;
    height: auto;
  }
  
  .clRedBak{
    background-image:  linear-gradient(to left, #ff9d9d, #f5f5f5) !important}
