/////////////////

#jqxGrid .jqx-grid-column-header,
#documentdetails .jqx-grid-column-header,
#masterlist .jqx-grid-column-header {
 //   font-weight: 300;
 //   font-size: 1.2rem;
    background-color: rgb(197, 197, 197);
  //  font-family: "Lato", sans-serif;
}


.compet_status{
    text-decoration: none;
    padding: 3px 1rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    position: absolute;
   
    color: rgb(5, 0, 0);
    background-image: linear-gradient(
        to  top left,
        rgba($color-primary, 0.9),
        rgba($color-primary-light, 0.95));

    //Change for the <button> element
    border: none;
    &.Open{
       // color: silver;
        background-image: linear-gradient(
            to  top left,
            rgba(rgb(26, 95, 5), 0.7),
            rgba(rgb(4, 100, 4), 0.2));
    }
    &.Progress{
       // color: silver;
        background-image: linear-gradient(
            to  top left,
            rgba(rgb(248, 164, 134), 0.7),
            rgba(rgb(252, 219, 207), 0.2));
    
    }
    &.Finished{
       // color: silver;
        background-image: linear-gradient(
            to  top left,
            rgba(rgb(83, 37, 18), 0.7),
            rgba(rgb(246, 214, 184), 0.2));
    
    }
} 

.cdetailbtn{
    padding: 2px;
    text-align: center; 
    border-color: black;
    border-width: 1px;;
    margin: 2px; 
    height:100%;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: .2rem;
    background-color: rgba($color-primary-light, 0.95);
}

.clFirstDay{
    background-color: rgb(252, 236, 221) !important;
    &.jqx-grid-cell-selected{
        background-color: rgba(252, 236, 221, 0.378) !important;
    }
}
.clSecondDay{
    background-color: rgb(247, 213, 182) !important;
    &.jqx-grid-cell-selected{
        background-color:  rgba(247, 214, 182, 0.344) !important;
    }
}
.clShootOff{
    background-color: rgb(191, 190, 189) !important;
    &.jqx-grid-cell-selected{
        background-color:rgba(191, 190, 189, 0.378) !important;
    }
}
.clTotal{
    background-color:  rgb(255, 188, 157)e !important;
}
