// COLORS
$color-primary: #503000;
$color-primary-light: #faf7f2;
$color-primary-dark: #1d1000;

$color-secondary-ultralight: #fffefb;
$color-secondary-light: #ffb200;
$color-secondary-dark: #fa4d0e;


$color-link: #d12a00;

$color-tertiary-light: #3a638a;
$color-tertiary-dark: #171152;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;

$nrMap: (
  1,
  2,
  3
);
